{% extends 'base.html' %}

{% block css %}

{% endblock %}


{% block body %}
<div class="d-flex flex-row" style="height:100%;">
    <div class="row col-4">
        <div class="d-flex flex-column">
            <div class="'row">
                <div class="pt-3">
                    <h1 style="font-size: 50px; font-family: 'Bungee Outline', cursive;">Brain Tumor <br>Detection</h1>
                </div>
            </div>
            <div class="row pt-5" style="font-family: 'Anton', sans-serif;">
                <div class="d-flex flex-column" style="width: 100%; padding-left:50px;">
                    <div class="row">
                        <a class="menu" href="{% url 'home' %}">HOME</a>
                    </div>
                    <div class="row">
                        <a class="menu" href="{% url 'about' %}">ABOUT</a>
                    </div>
                    <div class="row">
                        <a class="menu" href="{% url 'credits' %}">CREDITS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-8 justify-content-center align-items-center">
        <div class="d-flex justify-content-center">
            <div style="font-size: 15px;">
                <p>We are passionate about revolutionizing healthcare through advanced technology. Our focus is on developing cutting-edge solutions for the early and accurate detection of brain tumors using brain MRI scans. Leveraging the power of deep learning and the VGG16 Imagenet model, we have created an innovative brain tumor detection system that aims to save lives and improve patient outcomes.</p> 
                <p>Our team of dedicated researchers, engineers, and medical professionals have collaborated to build a state-of-the-art system that combines the latest advancements in artificial intelligence with the expertise of radiologists and neurologists. By harnessing the capabilities of the VGG16 Imagenet model, a renowned convolutional neural network, we have achieved exceptional accuracy and efficiency in analyzing brain MRI images.</p>
                <p>Our brain tumor detection system utilizes the VGG16 Imagenet model to automatically analyze brain MRI scans and identify potential tumor regions. The model has been trained on a vast dataset of labeled brain images, allowing it to learn and recognize intricate patterns and features indicative of tumors. This enables our system to provide radiologists and physicians with valuable insights, assisting them in making well-informed decisions for timely diagnosis and treatment planning.</p>
                <p>We understand the critical importance of early detection when it comes to brain tumors, as it can significantly impact patient prognosis and treatment options. Our system not only enhances the efficiency of radiologists by automating the detection process but also acts as a reliable second opinion, helping to minimize the risk of oversight and improve overall diagnostic accuracy.</p>
                <p>We are committed to driving innovation and pushing the boundaries of healthcare technology. We are continually refining and enhancing our brain tumor detection system to ensure it remains at the forefront of medical advancements. Our goal is to provide healthcare professionals with a powerful tool that aids in the early detection and management of brain tumors, ultimately improving patient outcomes and saving lives.</p>
                <p>Thank you for visiting our About Us page. We are excited about the impact our brain tumor detection system can have on healthcare, and we look forward to making a positive difference in the lives of patients and medical professionals alike.</p>
            </div>   
        </div>
    </div>
    
    
</div>

{% endblock %}